*{
    margin: 0;
    padding: 0;
}

#texto-fonte-root{
    font-size: 3rem;
}

#texto-paddings-verticais{
    background-color: aquamarine;
    padding: 2em 0;
}

#altura-porcentagem-comprimento{
    background-color: cornflowerblue;
    height: 20vw;
}

#comprimento-metade-altura{
    background-color: antiquewhite;
    width: 50vh;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    font-size: 70%;
}

#comprimento-pai{
    background-color: chocolate;
    width: 10%
}

#altura-pai{
    background-color: blue;
    height: 10%;
}